# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Build artifacts
*.min.js
*.map
/dist/
/build/
/coverage/

# Environment files
.env
.env.*
!.env.example

# IDE / Editor
.vscode/
.idea/
*.suo
*.userossc
*.sln.docstates

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Temp files
*.tmp
*.temp

L.html
package-lock.json
